{% extends 'baseNoReact.html.twig' %}
{% block body %}


		<div class="columns is-vcentered is-centered full-screen">

			{{ form_start(form, {'attr': {'class': 'column is-one-quarter'}}) }}
				<div class="field">
                    {% set error = form.username.vars.errors[0].message is defined ? form.username.vars.errors[0].message : null %}
					<label for="">{{ form_label(form.username, null, { 'label': 'Nom d\'utilisateur'}) }}</label>
					<div class="control  has-icons-left">
						<span class="icon is-small is-left">
                          <i class="fa fa-user"></i>
                        </span>
                        {{ form_widget(form.username, {'attr': {'class': 'input' ~ (error != null ? ' is-danger' : '') }}) }}
					</div>
					<p class="help is-danger">{{  error is defined ? error : ''}}</p>
				</div>
				<div class="field">

					{% set error = form.email.vars.errors[0].message is defined ? form.email.vars.errors[0].message : null %}
					<label for="">{{ form_label(form.email, null, { 'label': 'Email'}) }}</label>
					<div class="control  has-icons-left">
						<span class="icon is-small is-left">
                          <i class="fa fa-envelope"></i>
                        </span>
                        {{ form_widget(form.email, {'attr': {'class': 'input' ~ (error != null ? ' is-danger' : '') }}) }}
					</div>
					<p class="help is-danger">{{  error is defined ? error : ''}}</p>


				</div>
				<div class="field">
                    {% set error = form.password.first.vars.errors[0].message is defined ? form.password.first.vars.errors[0].message : null %}

					<label for="">{{ form_label(form.password.first, null, { 'label': 'Mot de passe'}) }}</label>
					<div class="control  has-icons-left">
						<span class="icon is-small is-left">
                          <i class="fa fa-key"></i>
                        </span>
                        {{ form_widget(form.password.first, {'attr': {'class': 'input' ~ (error != null ? ' is-danger' : '') }}) }}

					</div>
					<p class="help is-danger">{{  error is defined ? error : ''}}</p>
				</div>
				<div class="field">
                    {% set error = form.password.first.vars.errors[0].message is defined ? form.password.first.vars.errors[0].message : null %}

					<label for="">{{ form_label(form.password.second, null, { 'label': 'Répéter le mot de passe'}) }}</label>
					<div class="control  has-icons-left">
						<span class="icon is-small is-left">
                          <i class="fa fa-key"></i>
                        </span>
                        {{ form_widget(form.password.second, {'attr': {'class': 'input' ~ (error != null ? ' is-danger' : '') }}) }}

					</div>
					<p class="help is-danger">{{  error is defined ? error : ''}}</p>
				</div>





			<button type="submit" class="button is-link">S'inscrire</button>
			{{ form_end(form) }}

		</div>

{% endblock %}
